#chat-only .alt-header {
  margin-bottom: 50px;
}

.chat__time {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white;
  background-color: grey;
  width: 35%;
  text-align: center;
  border-radius: 15px;
}

.chat {
  padding: 30px 30px 0px 30px;
}

.message-row {
  display: flex;
  margin-bottom: 25px;
  animation: fadeIn 1s linear;
}

.message-row img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 15px;
}

.message-author {
  font-weight: 800;
  display: block;
  margin-bottom: 5px;
}

.message-info {
  display: flex;
  align-items: flex-end;
}

.message-bubble {
  font-size: 14px;
  padding: 8px 15px;
  background-color: white;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message-time {
  font-size: 12px;
  opacity: 0.6;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message-bubble {
  background-color: yellow;
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  order: 1;
  margin-right: 0;
  margin-left: 5px;
}

.message-row--own .message-chat {
  order: 0;
}

.reply {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.reply i {
  font-size: 25px;
  opacity: 0.6;
}

.reply .reply__box:first-child {
  width: 10%;
  display: flex;
  justify-content: center;
}

.reply .reply__box:nth-child(2) {
  width: 100%;
}

.reply .reply__box:last-child {
  width: 10%;
  display: flex;
  justify-content: center;
}

.reply__box input {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border-radius: 20px;
  border: 1px solid var(--bordertop);
}

.reply .reply__box:first-child,
.reply .reply__box:last-child {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__box:first-child,
.reply:focus-within .reply__box:last-child {
  opacity: 0;
}

.reply:focus-within input {
  width: 118%;
  transform: translateX(-7.5%) translateY(-60px);
}

.reply:focus-within {
  transform: translateY(60px);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
  }
}
